<!-- ... edited by app gen (other pages) -->

<div id="map">
  <iframe width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.501646666586!2d-115.27409168518686!3d35.46713024929232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80cf14a7fd8a831f%3A0x86c281cb868cacca!2s107355+Nipton+Rd%2C+Nipton%2C+CA+92364!5e0!3m2!1sen!2sus!4v1481103531954">
  </iframe>
</div>
