<!-- ... edited by app gen (other pages) -->

<div id="under_construction">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-wrench fa-5x" aria-hidden="true"></span>
        <h1>Under Construction</h1>
      </div>

      <div class="panel-body">
        <h4><%= @message %></h4>
      </div>
    </div>
  </div>
</div>
