<!-- edited by app gen (landing page) -->

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About <%= ApplicationHelper::App::TITLE %></h2>
      <p>
        Tell us about your website.
        What is it for?
        Filler text follows...
      </p>

      <p>
        Mandatory empowering protocol.
        Public-key explicit definition.
        Self-enabling fault-tolerant encryption
        Ergonomic national support.
        Decentralized heuristic workforce.
        Team-oriented background model.
        Monitored object-oriented knowledge user.
        Multi-channelled neutral structure.
      </p>

      <a href="#services" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </div>
</section>
