<!-- edited by app gen (landing page) -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="brand-heading"><%= ApplicationHelper::App::TITLE.downcase %></h3>

          <p class="intro-text">
            Brief description of your website.
          </p>

          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
