// ... edited by app gen (product resource)

#show {
  color: black;
  background-color: white;
  padding: 20px;

  .media-left {
    // ... I don't know why width is like this?
    width: 5500px;
    height: 500px;

    img {
      height: auto;
      width: 100%;
    }
  }
}
