<!-- ... edited by app gen (product resource) -->

<% provide :title, "Products Page #{@current_page_number}"%>

<div id="products">
  <div class="row">
    <%= render partial: 'left_column' %>
    <%= render partial: 'content' %>
  </div>
</div>
